extends ./layouts/default.pug

block vars
	- pageTitle = ''
	- navLocation = 'index'

block tagline
	h1#tagline
		span ワールド
		span ジェネレーター

block content
	div.full-width
		div.grid.islands
			div.item.g-one-auto
				canvas.umi(width='400' height='400')