extends ./layouts/default.pug

block vars
	- pageTitle = ''
	- navLocation = 'index'

block tagline
	h1#tagline
		span #{lang.index.tagline.jp}

block content
	div.full-width
		div.grid
			div.item.g-one-auto
				canvas.umi(width='100' height='100')