.grid {
	display: grid;

	.item {
		width: fit-content;
		justify-self: center;
	}

	.g-two {
		grid-area: two;
	}

	.g-wide {
		grid-area: wide;
	}

	.g-tall {
		grid-area: tall;
	}
}

@media screen /* wide screen */ and (min-width: $tablet) {
	.container {
		width: 100vw;
		position: relative;
		left: 50%;
		right: 50%;
		margin-left: -50vw;
		margin-right: -50vw;
	}

	.grid {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		grid-template-areas:
			'tall two two . .'
			'tall two two . .'
			'wide wide . . .';
	}
}

@media screen /* large screen */ and (min-width: $mobile) and (max-width: $tablet - 1) {
	.grid {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas:
			'tall two two'
			'tall two two'
			'wide wide .';
	}
}

@media screen /* small screen */ and (max-width: $mobile - 1) {
	.grid {
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			'two two'
			'two two'
			'tall .'
			'tall .'
			'wide wide';
	}
}
