@import 'guide.grid';

.vert,
.vert-always {
	font-size: 1.5em;
}

.vert {
	margin: 0 0 0.5em 0.2em;
}

.vert-always {
	writing-mode: vertical-rl;
	max-height: ($mobile - 40px) / 2;
	margin: 0.5em 0 0;
}

@media screen /* small screen */ and (min-width: $mobile) {
	.vert {
		writing-mode: vertical-rl;
		margin: 0.5em 0 0;
	}

	.vert,
	.vert-always {
		max-height: ($mobile - 40px) / 1.55;
	}
}

.flex {
	display: flex;
	flex-direction: row-reverse;

	p {
		max-height: unset;
	}
}

@media screen /* small screen */ and (max-width: $mobile - 1) {
	.flex {
		margin: 0 1em 0 0;
	}
}
