$_text: hsl(0, 0%, 100%);
$_text-2: hsl(221, 100%, 85%);

$nav-color: $_text;
$nav-color-here: $_text;
$tagline-color: $_text-2;
$footer-color: $_text;

$mobile: 768px;
$tablet: 992px;

$spin-time: 100s;
$acid-time: 20s;

$nav-font: 'Times New Roman', Times, serif;
