include ../mixins/_header

header
	+logo('mobile')
	nav
		+pal(lang.header.gallery.jp, 'gallery')
		+pal(lang.header.guide.jp, 'guide')
		+logo('screen')
		+par(lang.header.contact.jp, 'contact')
		+par(lang.header.github.jp, '', 'https://github.com/azcion/umi')
	div.center
		div
			block tagline