block vars

head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible' content='IE=edge')
	meta(name='viewport' content='width=device-width, initial-scale=1')
	meta(name='description' content='この Web サイトは、個人的な興味の拡張として一部作成されましたが、学校のプロジェクトとして提出することもできました。')
	meta(data-page=navLocation)
	title=pageTitle + (pageTitle.length > 0 ? ' • ' : '') + '海 ~ Umi'
	include ./favicons.pug
	link(rel='stylesheet' href='css/style.min.css')
	script(src='js/umi.js')
	script(src='js/logo-tag.js')
	script(src='js/config.js')
	script(defer src='js/page.js')