include ../mixins/_header

header
	+logo('mobile')
	nav
		+pal('ギャラリー', 'gallery')
		+pal('使用法', 'guide')
		+logo('screen')
		+par('連絡する', 'contact')
		+par('ソースコード', '', 'https://github.com/azcion/Umi')
	div#top
		div
			block tagline